body{
  background-color: rgb(178, 231, 231);
}
.App {
  width: 900px;
  height: 800px;
  margin-top: 100px;
  border: 2px solid ;
  margin: 50px auto;
  height: auto;
  padding: 30px;
  background-color: rgb(241, 197, 241);
  font-family: cursive;
  font-size: 30px;
  text-align: center;
}

